body {
    background: linear-gradient(#808080, #fff);
    min-height: 100vh;
}

.blur > * {
    opacity: 0;
    animation: animateBlur 5s forwards;
}

@keyframes animateBlur {
    from {
        opacity: 1;
        text-shadow: 0 0 1em rgba(0, 0, 0, .5);
        color: rgba(0, 0, 0, 0);
    }

    to {
        opacity: 1;
        text-shadow: 0 0 0px rgba(0, 0, 0, 0);
        color: #000;
    }
}